<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost/university_hw11_q2</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password"/>

    <property name="show_sql">true</property>

    <property name="hibernate.dialect">org.hibernate.dialect.MariaDB10Dialect</property>

    <!-- DB schema will be updated if needed -->
<!--     <property name="hibernate.hbm2ddl.auto">create</property>-->

    <mapping class="ir.maktab25.model.Employee"/>
    <mapping class="ir.maktab25.model.Address"/>
    <mapping class="ir.maktab25.model.PhoneNumber"/>

  </session-factory>
</hibernate-configuration>